//@primary-color: #4CAF50; // 主要绿色
//@secondary-color: #81C784; // 辅助绿色
//@background-color: #F1F8E9; // 背景绿色
//@text-color: #1B5E20; // 文字绿色
//@border-color: #A5D6A7; // 边框绿色
//@card-bg-color: #E8F5E9; // 卡片背景绿色
//@slider-bg-color: #66BB6A; // 滑动条背景绿色
//@slider-btn-bg-color: #388E3C; // 滑动条按钮背景绿色
//@slider-btn-border-color: #2C6B2F; // 滑动条按钮边框绿色

//@primary-color: #8E24AA; // 主要紫色
//@secondary-color: #BA68C8; // 辅助紫色
//@background-color: #F3E5F5; // 背景紫色
//@text-color: #4A148C; // 文字紫色
//@border-color: #CE93D8; // 边框紫色
//@card-bg-color: #E1BEE7; // 卡片背景紫色
//@slider-bg-color: #AB47BC; // 滑动条背景紫色
//@slider-btn-bg-color: #7B1FA2; // 滑动条按钮背景紫色
//@slider-btn-border-color: #6A1B9A; // 滑动条按钮边框紫色

@primary-color: #2196F3; // 主要蓝色
@secondary-color: #64B5F6; // 辅助蓝色
@background-color: #E3F2FD; // 背景蓝色
@text-color: #0D47A1; // 文字蓝色
@border-color: #90CAF9; // 边框蓝色
@card-bg-color: #BBDEFB; // 卡片背景蓝色
@slider-bg-color: #42A5F5; // 滑动条背景蓝色
@slider-btn-bg-color: #1E88E5; // 滑动条按钮背景蓝色
@slider-btn-border-color: #1565C0; // 滑动条按钮边框蓝色

@chat-bot-bg: #ffffff;
@chat-bot-bg-soft: #f6f4f4;
@chat-bot-text: #444141;
@chat-bot-text-soft: #c1c5ce;
@chat-bot-bg-text: #eceef5;
