.container {
  padding: 0 20px 20px 20px;
}
.wrapper {
  padding: 24px 150px;
  background-color: var(--color-bg-2);
  border-radius: 4px;
}

.result {
  margin: 150px 0 36px 0;
}

.operation-wrap {
  margin-bottom: 40px;
  text-align: center;
}

.details-wrapper {
  width: 100%;
  margin-bottom: 150px;
  padding: 20px;
  background-color: rgb(var(--gray-1));
}
